:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color:#5cb85c;
  --error-color:#d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: white;
  color: var(--dark-color-a);
  font-size: 17px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.end-btn {
  cursor: pointer;
  padding: 5px 15px;
  background: red;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.answer-btn {
  cursor: pointer;
  padding: 5px 15px;
  background: green;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  max-width: 700px;
  margin: 80px auto;
  color: #fff;
}

.header {
  text-align: center;
  width: 100%;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.video {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.myId {
  color: black;
  display: flex;
  flex-direction: column;
}

.myId label {
  display: block;
  margin-bottom: 5px;
}

.myId input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

